{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}
{% block content %}
<section id="content" class="body">
    <h1 class="content-title">
        {{ page.title }}
    </h1>
    {{ page.content }}
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>Tacloban Map</h3>
          <a href="https://thomasjohncole.github.io/tacloban-map/">
            <img class="project" src="{{ SITEURL }}/images/tacloban-map.png" alt="Tacloban Map" width="310">
          </a>
          <p>
            <a href="https://github.com/thomasjohncole/tacloban-map">GitHub Repo</a>
          </p>
        </div>
        <div class="col-lg-6">
          <h3>Book Catalog</h3>
          <a href="http://13.250.103.155.xip.io/">
            <img class="project" src="{{ SITEURL }}/images/book-catalog.png" alt="Book Catalog" width="310">
          </a>
          <p>
            <a href="https://github.com/thomasjohncole/book-catalog">GitHub Repo</a>
          </p>
        </div>
      </div>
    </div>
</section>
{% endblock %}
